
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image:;
    background-size: cover;
    background-position: center;
    overflow: scroll
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #444;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    border:3px solid cadetblue
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

    nav a:hover {
        color: #f0a500;
    }

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    overflow:auto
}

section h2{
    width: 100%;
    align-items:center;
    text-align:justify
    
}
aside {
    width: 30%;
    height: 20em;
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid cadetblue;
    color: white;
    li
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

    footer a {
        color: white;
        text-decoration: none;
    }

        footer a:hover {
            color: #f0a500;
        }

form {
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

    input[type="submit"] {
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #555;
        }

   